
header {
  border: 2px solid red;
  height: 15vh;
}

.news-details {
  display: flex;
}

.header-title {
  display: flex;
  justify-content: center;
  font-size: x-large;
  font-family: Georgia, serif;
}

.search-section {
  height: 40%;
  width: 20%;
  display: flex;
  align-items: center
}

.search-icon {
  height: 75%;
}

.search-box {
  height: 25%;
}

@media screen and (max-width: 670px) {
  .header-title {
    font-size: medium;
  }
}

@media screen and (max-width: 450px) {
  .header-title {
    font-size: small;
  }
}