.search-article-link {
  text-decoration: none;
  color: black;
}

.search-article-container {
  border-bottom: solid 2px gray;;
  display: flex;
  margin-top: 5%;
  /* margin-left: 5%; */
}

.search-article-details {
  height: 100%;
}

.search-article-description {
  border-top: solid 1px gray;
}

.search-article-image {
  height: 100%;
  width: 60%;
  margin-bottom: 4%;
}

@media screen and (max-width: 480px) {
  .article-image {
    
    width: 40%;
    margin-bottom: 2%;
  }
}